<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="light-well">
          <h1>Edit <%= resource_name.to_s.humanize %></h1>

          <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: { class: "form-horizontal center"} do |f| %>

          <div class="form-group">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.text_field :user_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.text_field :service_area, class: "form-control" %>
          </div>

          <div class="form-group">
            <p class="moverform">IMPORTANT! Add skills like, organizing, lifting, cleaning, unpacking etc... to improve your searchability<p>
              <%= f.text_area :bio, class: "form-control", placeholder: "Add skills and bio" %>
            </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "New Password", class: "form-control" %>
            <p class="help-block"><p>leave blank if not changing password</p><br />
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password", class: "form-control" %>
            <% if @validatable %>
            <p class="help-block"><%= @minimum_password_length %> characters minimum</p>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password", class: "form-control" %>
            <p class="help-block"><p>add current password to update</p>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-success btn-lg btn-block" %>
          </div>
          <%= devise_error_messages! %>
          <% end %>
        </div>
        <br>
        <br>
        <h3 class="page-header text-center">Cancel my account</h3>
        <%= button_to "Delete my account", registration_path(resource_name), class: "btn btn-danger btn-lg btn-block", data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>
</div>
