
<div class="jobappwindow jumbotron">
  <div class="container">
<h1>Your Conversations</h1>
>>>>>>> 2f96766633815e33c6dbe0b666f71c086cdf1bc0

<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-stacked">
      <li><%= mailbox_section 'inbox', @box, id: "inbox-btn", class: 'btn btn-lg btn-warning'%></li>
        <li><%= mailbox_section 'sent', @box ,id: "inbox-btn", class: 'btn btn-lg btn-warning' %></li>
        <li><%= mailbox_section 'trash', @box, id: "inbox-btn", class: 'btn btn-lg btn-warning'%></li>
    </ul>
  </div>
<div class="col-sm-9">
  <% if @box == 'trash' %>
    <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                   data: {confirm: 'Are you sure?'} %></p>
<%end%>
  <div class="col-sm-9">
    <p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-warning' %></p>
    <ul class="list-group">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </ul>

    <%= will_paginate %>
  </div>
</div>
</div>
</div>
