<div class="jumbotron">
<div class="container">
  <h1>All Jobs</h1>
  <%= link_to "Open Map", jobs_map_path, class: "btn btn-success btn-lg"%>


  <% @jobs.each do |job| %>
  <div class=".col-md-4">
    <div class="column">
      <h4><%= "#{job.name}"%></h4>
      <h3><%= "Located in: " + "#{job.area}"%></h3>
      <div class="image"><%= image_tag job.image.url(:medium) %></div>
      <%= link_to "See Details", job_path(job), class: "btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>
</div>
