
<div class="jumbotron">
  <div class="container">
    <div class="jobappwindow">
    <div class="row">
      <!-- LEFT CONTAINER -->
      <div class="col-md-6">
        <div class="center-block text-center">
          <%= image_tag @job.image.url(:medium) %>
          <h3><%="Job Title: " + "#{@job.name}"%></h3>
          <h3><%="Area: " + "#{@job.area}"%></h3>
          <h3><%="Description: " + "#{@job.description}"%></h3>
          <% if current_user  %>
          <%= link_to t('.back', :default => t("helpers.links.back")),
          jobs_path, :class => 'btn btn-default'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_job_path(@job), :class => 'btn btn-default' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          job_path(@job),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-danger' %>
          <% else %>
          <% if @job.jobapps.where(mover_id: current_mover.id).first && @job.jobapps.where(:accepted => true) %>
          <p>Your application is pending approval.</p>
          <% else %>
          <%=link_to "Apply for this Job!", new_job_jobapp_path(@job), :class => 'btn btn-success'%>
          <% end %>
          <% end %>
        </div>
      </div>


      <!-- RIGHT CONTAINER -->
      <div class="col-md-6">
        <div style='height: 400px;
          width: 520px;
          border-radius: 16px 16px;
          border-color: #fff;
          border-style: solid;
          box-shadow: 2px 2px 10px #B1B1B1;
          margin-top: 25px;
          border-width: 7px;'>
          <div id="map" style='width: 505px; height: 385px; border-radius: 16px 16px;'></div>
        </div>

        <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
        </script>
      </div>



    </div>
  </div>
</div>
</div>
</div>
