<div class="profile jumbotron">
  <div class="container" id="user_profile_container">
    <h1><%="Your Portal"%></h1>
    <p>Welcome to your portal! Here you can create and manage your jobs, <br>see your reviews, edit your account and much more!</p>
    <br>
    <div class="col-md-4 text-center">
      <div class="avatar"><%= image_tag @user.avatar.url(:medium) %></div>
    </div>


    <div class="col-md-4 text-center">
      <br>
      <br>
      <br>
      <br>
      <div style="text-align: center"><%= link_to "Create New Job", new_job_path, class: 'btn btn-success btn-lg'%></div>
      <br>
      <br>
      <div style="text-align: center"><%= link_to "Account Settings", edit_user_registration_path, class: 'btn btn-warning btn-lg'%></div>
    </div>


    <div class="col-md-4 text-center">
      <h2>Reviews You Posted</h2>

      <%@reviews.each do |user_review|%>
      <!-- want userz=false because we want reviews about users posted by this user -->
      <%if user_review.user_id == current_user.id && !user_review.userz?%>
      <p><i class="fa fa-comments fa-lg"></i> <%= user_review.body%><p>
        <%end%>
        <%end%>
      </div>

    </div>

    <div class="container">
      <div class="portaljobs">
        <h1><%= "#{@user.first_name.capitalize}'s" + " Jobs"%></h1>
        <% if @jobs.present?%>

        <%@jobs.each do |jobs|%>
        <div class=".col-md-4">
          <div class="jobbox">
            <h4><%= jobs.name %></h4>
            <h3><%= "Located in: " + "#{jobs.area}"%></h3>
            <div class="image"><%= image_tag jobs.image.url(:medium) %></div>
            <br>
            <%= link_to "Manage", job_path(jobs), class: "btn btn-primary"%>
            <% if jobs.jobapps.where(:accepted => true).exists? %>
            <%= link_to "See Muvr's Profile", mover_prof_path(jobs) , class: "btn btn-success" %>
            <% elsif jobs.jobapps.exists? %>
            <%= link_to "View Applicants", users_user_apps_path(:job => jobs.id), class: "btn btn-success" %>
            <% else %>
            <h5><i class="fa fa-file-text fa-lg"></i> No current applications</h5>
            <% end %>
            </div>
            <% end %>
        </div>
        <% else %>
        <h3>Uh Oh... You don't have any jobs!</h3>
        <div style="text-align: center"><%= link_to "Create New Job", new_job_path, class: 'btn btn-success btn-lg'%></div>
        <%end%>
      </div>
    </div>
  </div>
</div>
