<div class="jumbotron">
  <div class="profile container">
    <h1><%= "#{@user.first_name}" + " #{@user.last_name}'s" + " Profile"%></h1>
    <h2 class="subheadline">Client Information</h2>

    <div class="col-md-4 text-center">
      <div class="avatar"><%=image_tag("pic2.jpg", class:"default") %></div>
    </div>


    <div class="col-md-4 text-center">
      <h3><%= "Username: " + "#{@user.username}"%></h3>

      <p><%="Send " + "#{@user.first_name}" + " an email at: " + "#{@user.email}" %></p>

      <div><%= link_to "Ask a Question", root_path, class: 'btn btn-success btn-lg'%>
      </div>

    </div>


    <div class="col-md-4 text-center">
      <div class="comment-form">
        <h2>Add Your Review</h2>
          <%= form_for [@user.reviews.new] do |f| %>
          <%= f.hidden_field :user_id %><br>
          <div class="col-md-8"><%= f.text_field :body, class: "form-control", placeholder: 'Add a comment...' %></div>
          <div class="col-md-1"><%= f.button :submit, class: "btn btn-success"  %></div>
          <% end %>
        </div>


      <div style="text-center">
        <br>
        <br>
        <h2><%= "#{@user.first_name}'s" + " Reviews" %></h2>
        <%@reviews.each do |user_review|%>
        <!-- want userz=true because we want reviews about users  -->
        <%if user_review.user_id == @user.id && user_review.userz?%>
        <p><i class="fa fa-comments fa-lg"></i> <%= user_review.body%><p>
        <%end%>
        <%end%>
      </div>
    </div>



  </div>
</div>
