<div class="jumbotron">
  <div class="profile container">
    <h1><%= "#{@user.first_name}" + " #{@user.last_name}'s" + " Profile"%></h1>
    <h2 class="subheadline">Client Information</h2>

    <div class="col-md-4 text-center">
      <div class="avatar"><%= image_tag @user.avatar.url(:medium) %></div>
    </div>


    <div class="col-md-4 text-center">
      <h3><%= "Username: " + "#{@user.username}"%></h3>

      <p><%="Send " + "#{@user.first_name}" + " an email at: " + "#{@user.email}" %></p>

      <div><%= link_to "Ask a Question", root_path, class: 'btn btn-success btn-lg'%>
      </div>

    </div>


    <div class="col-md-4 text-center">
      <h2>Your Reviews</h2>
      <p>Some review here about lina</p>
      <p>Some review here about lina</p>
      <p>Some review here about lina</p>
      <p>Some review here about lina</p>
      <p>Some review here about lina</p>
      <%@reviews.each do |user_review|%>
      <!-- want userz=true because we want reviews about user  -->
      <%if user_review.user_id == @user.id && user_review.userz?%>
      <%= user_review.title%>
      <%= user_review.body%>
      <%= user_review.user_id%>
      <%= user_review.userz%>
      <%end%>
      <%end%>
    </div>
  </div>
</div>
