<h3>Your applications</h3>

<% @jobapp.each do |users_app| %>

<h3><%="#{users_app.mover.first_name}".capitalize + " wants to help with your move!"%></h3><br>
<h4><%="Message:" + " #{users_app.message}"%></h4><br>
<%=form_for(users_app) do |userzapp| %>
<div class="field">
  <%= userzapp.label :accepted %>
  <%= userzapp.check_box :accepted%>
</div>
<div class="actions">
  <%= userzapp.submit %>
</div>
<%end%>
<%end%>
