<div class="jumbotron">
  <div class="container">
    <div class="jobappwindow">
      <h1>Your applications</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <%@job.jobapps.each do |job|%>
            <h3><%="#{job.mover.first_name}".capitalize + " wants to help with your move!"%></h3><br>
            <h2><%="Message:" + " #{job.message}"%></h2><br>
            <%=form_for(job) do |userzapp| %>
            <div class="field text-center">
            <div class="hide">
              <%= userzapp.label :accepted %>
              <%= userzapp.check_box( :accepted, {checked: false})%>
            </div>
            <div class="hide">
              <%= userzapp.label :not_accepted %>
              <%= userzapp.check_box(:not_accepted, {checked: true})%>
            </div>
            <div class="action">
              <%=userzapp.submit "Confirm this Mover!", class: "btn btn-success"%>
            </div>
            </div>
            <%end%>
            <%end%>
          </div>

          </div>
        </div>
      </div>
    </div>
