<h3>Your applications</h3>
<%@job.jobapps.each do |j|%>
<%=j.mover.first_name%>




<h3><%="#{j.mover.first_name}".capitalize + " wants to help with your move!"%></h3><br>
<h4><%="Message:" + " #{j.message}"%></h4><br>
<%=form_for(j) do |userzapp| %>
<div class="field">
  <%= userzapp.label :accepted %>
  <%= userzapp.check_box :accepted%>
  <%= userzapp.label :not_accepted %>
  <%= userzapp.check_box :not_accepted%>
</div>
<div class="action">
<%=  userzapp.submit%>
</div>


<%end%>
<%end%>
