<h3>Your applications</h3>
<div class="container">
<%@job.jobapps.each do |job|%>
<%=job.mover.first_name%>
<h3><%="#{job.mover.first_name}".capitalize + " wants to help with your move!"%></h3><br>
<h4><%="Message:" + " #{job.message}"%></h4><br>
<%=form_for(job) do |userzapp| %>
<div class="field">
  <%= userzapp.label :accepted %>
  <%= userzapp.check_box :accepted%>
  </div>
  <div class="hide">
  <%= userzapp.label :not_accepted %>
  <%= userzapp.check_box(:not_accepted, {checked: true})%>
</div>
<div class="action">
<%=  userzapp.submit%>
</div>


<%end%>
<%end%>
</div>
