<div class="profile jumbotron">
 <div class="container">
   <h1 class="headline"><%= "#{@mover.first_name}'s" + " Portal"%></h1>
     <p>Welcome to your portal! Here you can find jobs in your area, manage your jobs, <br>see your reviews, edit your account and much more!</p>

   <div class="col-md-4 text-center">
     <div class="avatar"><%= image_tag @mover.avatar.url(:medium) %></div>
   </div>


   <div class="col-md-4 text-center">


      <div><%= link_to "Browse All Jobs", jobs_path, class: "btn btn-success btn-lg"%></div>
      <br>
      <h2>Edit Your Account</h2>
      <div><%= link_to "Account Settings", edit_mover_registration_path, class: 'btn btn-warning btn-lg'%>
      </div>
    </div>


   <div class="col-md-4 text-center">
     <div style="text-align: center">
       <h2>Reviews You Posted</h2>
       <%@reviews.each do |mover_review|%>
       <!-- want userz=true because we want reviews about users  -->
       <%if mover_review.mover_id == current_mover.id %>
       <p><i class="fa fa-comments fa-lg"></i> <%= mover_review.body%></p>
       <%end%>
       <%end%>
     </div>
   </div>
 </div>


<div class="container">
  <div class="portaljobs">
 <h1>Jobs in your area</h1>
 <% if @jobs.present?%>

 <% @jobs.each do |job| %>
 <div class=".col-md-4">
   <div class="jobbox">
     <h4><%= "#{job.name}"%></h4>
     <h3><%= "Located in: " + "#{job.area}"%></h3>
     <div class="image"><%= image_tag job.image.url(:medium) %></div>
     <%= link_to "See Details", job_path(job), class: "btn btn-primary"%>
   </div>
   <% end %>

   <% else %>
   <h3>Uh Oh... No Jobs in you area yet!</h3>
   <% end %>

 </div>
</div>
</div>
</div>
