
<h1>Movers Portal</h1>

<h2><%= "#{@mover.first_name}'s" + " Portal"  %></h2>

<h3><%= @mover.user_name %></h3>
s

REVIEWZ I HAVE POSTED ABOUT UZERZ
<%@reviews.each do |mover_review|%>
<!-- want userz=true because we want reviews about users  -->
<%if mover_review.mover_id == @mover.id && mover_review.userz?%>
<%= mover_review.title%>
<%= mover_review.body%>
<%= mover_review.mover_id%>
<%= mover_review.userz%>
<%end%>
<%end%>

<h1><%= link_to 'Jobs in your area', movers_jobs_area_path %></h1>

<%= image_tag @mover.avatar.url(:medium) %>s
sss
