<div class="jumbotron">
 <div class="profile container">
   <h1 class="headline"><%= "#{@mover.first_name}'s" + " Portal"%></h1>

   <div class="col-md-4 text-center">
     <div class="avatar"><%= image_tag @mover.avatar.url(:medium) %></div>
   </div>


   <div class="col-md-4 text-center">


      <h2>Something Here Later</h2>
      <p>Maybe the jobs map button?</p>
      <p>I have no idea what to add here</p>
      <div><%= link_to "Account Settings", edit_mover_registration_path, class: 'btn btn-warning btn-lg'%>
      </div>



   </div>

   <div class="col-md-4 text-center">
     <div style="text-align: center">
       <h2>Reviews You Posted</h2>
       <%@reviews.each do |mover_review|%>
       <!-- want userz=true because we want reviews about users  -->
       <%if mover_review.mover_id == current_mover.id %>
       <p><%= mover_review.body%></p>
       <%end%>
       <%end%>
     </div>
   </div>
 </div>


<div class="profile container">
 <h1>Jobs in your area</h1>
 <% @jobs.each do |job| %>
 <div class=".col-md-4">
   <div class="column">
     <h4><%= "#{job.name}"%></h4>
     <h3><%= "Located in: " + "#{job.area}"%></h3>
     <div class="image"><%= image_tag job.image.url(:medium) %></div>
     <%= link_to "See Details", job_path(job), class: "btn btn-primary"%>
   </div>
   <% end %>
 </div>
</div>
</div>
