<p id="notice"><%= notice %></p>

<h1>Listing Jobapps</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobapps.each do |jobapp| %>
      <tr>
        <td><%= jobapp.message %></td>
        <td><%= link_to 'Show', job_jobapp %></td>
        <td><%= link_to 'Edit', edit_job_jobapp_path(jobapp) %></td>
        <td><%= link_to 'Destroy', job_jobapp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobapp', new_job_jobapp_path %>
