


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
       <div class="container-fluid">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               <%= link_to "Muvr", root_path , class: "navbar-brand page-scroll"%>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
               <%if user_signed_in?%>
               <li><%= link_to "Portal", users_portal_path %></li>
               <li><%= link_to "Profile", user_prof_path(current_user) %></li>
               <li><%= link_to 'Messages', conversations_path %></li>
               <li><%= link_to "Find a Mover", all_movers_path  %></li>
               <li><%= link_to "Organizers", organizers_path  %></li>
             </ul>
               <ul class="nav navbar-nav navbar-right">
               <li><%= link_to "Log Out User", destroy_user_session_path, method: :delete%></li>
               <li><%= link_to "Sign Up Movr", new_mover_registration_path  %></li>
             </ul>
               <%elsif mover_signed_in?%>
               <li><%= link_to "Portal", movers_portal_path %></li>
               <li><%= link_to "Profile", mover_prof_path(current_mover) %></li>
               <li><%= link_to 'Messages', conversations_path %></li>
               <li><%= link_to "Find Jobs", jobs_path %></li>
               <li><%= link_to "Find Clients", all_users_path  %></li>
               <li><%= link_to "Job Applications", movers_mover_apps_path %></li>

             </ul>
               <ul class="nav navbar-nav navbar-right">
                 <li><%= link_to "Log Out Mover", destroy_mover_session_path, method: :delete%></li>
                 <li><%= link_to "Sign Up User", new_user_registration_path %></li>
               </ul>
               <% else %>
               <li><%= link_to "User Signin", new_user_session_path  %></li>
               <li><%= link_to "Movr Signin", new_mover_session_path  %></li>
             </ul>
               <ul class="nav navbar-nav navbar-right">
               <li><%= link_to "Movr Sign Up", new_mover_registration_path  %></li>
               <li><%= link_to "User Sign Up", new_user_registration_path  %></li>
             </ul>
               <% end %>
             </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container-fluid -->
   </nav>
